body{
    background-color: #140814;
    color: #96b4aa;
    font-family:arial,helvetica,sans-serif;
    font-size:10pt;
    margin-left:0;
    margin-right:0;
    margin-top:5px;
    padding-left:5px;
    padding-right:5px;
}

h1{
    background-color: #370951;
    color: #80519A;
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 10pt;
    background-color: #370951;
    border-bottom: 1px solid #263c30;
    color:#fff;
    font-family:arial,helvetica,sans-serif;
    margin: 0;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}


h3 {
    background-color: #370951;
    border-bottom: 1px solid #263c30;
    color:#e04000;
    margin: 0;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    font-size: 15pt;
    text-decoration: underline;
}

#boardName {
    background-color: #370951;
    border-bottom: 1px solid #263c30;
    color:#e04000;
    margin: 0;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    font-size: 15pt;
}

.descrip{
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
}

.board {
    background-color: #241023;
    color: #96b4aa;
    margin-left:20px;
    margin-right:20px;
    border-radius: 6px;
    padding: 1px;
}

.Post{
    background-color: #241023;
    color: beige;
    margin-left:20px;
    margin-right:20px;
    margin-top: 15px;
    border-radius: 6px;
    padding: 2px;
}

.ThreadName{
    background-color: #241023;
    color: antiquewhite;
    margin-left:20px;
    margin-right:20px;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    padding: 3px;
    text-decoration: underline;
}

#ThreadName{
    background-color: #370951;
    border-bottom: 1px solid #263c30;
    color:#e04000;
    margin: 0;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    font-size: 17pt;
}

#container {
    width: 410px;
    margin: 100px auto;
}

#ses{
    background-color: #370951;
    color : aqua;
    text-align: right;

}

#content {
    border: 1px solid #ccc;
    background: #fff;
    padding: 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}


#registerContainer{
    margin: 20px;
    padding: 20px 100px;
}

#loginContainer{
    margin: 20px;
    padding: 20px 100px;
}

legend{
    font-size: 1.3em;
    font-weight: 900;
}

table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
 }

th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}
th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

tr:hover {
    background: #f4f4f4;
}

td:hover {
    color: #555;
}

ul{
    columns: 4;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
}

li{
    list-style-type: none;
}

ul#menu li:hover, ul#menu li.selected{
    background-color: #3A96FF;
    color: #FFFFFF;
    cursor: pointer;
}

select{
    font-size: 2em;
}

#listContainer{
    border: 1px solid #00cccc;
    width: 40%;
    margin: auto;
}

#dropdownMenuContainer{
    width: 35%;
    margin: auto;
}